*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black !important;
}

#Experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100lvh;
    overflow-x: auto;
}


.HandsOn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
}

.workedOn>svg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* background-color: red; */
}