*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}

body{
    background-color: black !important;
}

#Experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100lvh;
    width: 100%;
}


.HandsOn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ScollContent{
    background-color: #c840db;
    overflow: hidden;
}

.workedOn>svg{
    border-radius: 50%;
}
.workedOn>img{
    background-color: black;
    color: black;
}

.company{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about_experince {
    transition: transform 1s ease, box-shadow 1s ease;
    width: 40%;
}

.about_experince:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(209, 207, 207);
}

